@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,800&family=Raleway:ital,wght@0,800;1,800&family=Roboto:wght@400;500;700&display=swap');

.fornt-inte {
    font-family: "Inter", sans-serif;
}

.font-raleway {
    font-family: "Raleway", sans-serif;
}

.font-roboto {
    font-family: "Roboto", sans-serif;
}

.btn{
    margin-top:20px;
    border-radius: 10px;
}

.container-of-selected-seat{
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12-column grid */
    gap: 10px;
}

.col-span-4 {
    grid-column: span 4;
}

.col-span-8 {
    grid-column: span 8;
}
.col-span-4-seat-1{
    grid-column: span 4;
}
.col-span-4-seat-2{
    grid-column: span 4;
}
.bus{
    background-size: cover;
}